@import url('https://fonts.maateen.me/bangla/font.css');
* {
  font-family: 'Bangla', sans-serif;
}

.google-visualization-table-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.google-visualization-table-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.google-visualization-table-table th,
.google-visualization-table-table td {
  padding: 12px 15px;
}

.google-visualization-table-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.google-visualization-table-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.google-visualization-table-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.google-visualization-table-table tbody tr:hover {
  background:#1e8a714d;
}
